
html {
  background: linear-gradient(rgb(0, 0, 0), rgb(39, 39, 211));
}

body {
  padding: 0;
  margin: 0;
  width:100vw;
  height:100vh:
}

/* Add a background color to the top navigation */
.topnav {
    background-color: rgb(39, 39, 211);
    overflow: hidden;
    font-family: Georgia, serif;
  }

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 30px;
}

.topnav form {
  float: right;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav input {
  font-size: 30px;
}

.topnav button {
  font-size: 30px;
}

.topnav img {
  float: left;
  color: #0c3855;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 17px;
  max-width:4%;
}
  
h1 {
  text-align: center;
  color: white;
}

.firstimg {
  text-align: center;
  max-width: 50%;
  max-height: 80%;
}

  /* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(39, 39, 211);
}
  
  /* Add a color to the active/current link */
.topnav a.active {
  background-color:rgb(0, 0, 0);
  color: rgb(39, 39, 211);
}

/*slideshow formatting */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #000000;
  background-color: #ffffff;
  font-size: 28px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-family:Georgia, serif;
  }

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.video {
  text-align: center;
}

.button {
  font-size: 20px;
  height: 90px;
  width: 250px;
  cursor: pointer;
  margin: 20px auto;
  font-family: Georgia, serif;
} 

.button-center {
  text-align: center;
}

.games img {
  float: center;
  color: #0c3855;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  max-width: 33%;
}

@media screen and (max-width: 1024px) {
  .topnav img {
    min-width: 100%;
  }
}